.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #f4f7f9;
    }

.form-card{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;
}
.form-card h2{
    color: #2f68aa;
    margin-bottom: 20px;
    text-align: center;
}
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column
}
.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input, .input-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.input-group textarea {
    height: 80px;
    resize: none;
}

.save-btn {
    width: 100%;
    padding: 12px;
    background-color: #2f68aa;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.save-btn:hover {
    background-color: #1e4d82;
}