div {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
.login-container img.login-icon {
    display: block;
    margin: 0 auto 20px auto;
    width: 110px;  
    height: auto;
    margin-bottom: 15px;
    align-items: center;
}
.login-container h1 {
    margin-bottom: 20px;
    color: #2f68aa;
}
.login-container form {
    display: flex;
    flex-direction: column;
}
.login-container label {
    margin-bottom: 5px;
    text-align: right;
}
.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}
.login-container button {
    padding: 10px;
    border: none;
    background-color: #2f68aa;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #2f68aa;
}
.login-container p {
    margin-top: 15px;
    font-size: 14px;
}
.login-container a {
    color: #2f68aa;
    text-decoration: none;
}
