
.login-page {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
.login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    width: 400px;
    text-align: center;
    margin: 0 auto;
}


.login-container .login-icon {
    display: block;
    margin: 0 auto 15px auto;
    width: 110px;  
    height: auto;
}


.login-title {
    margin-bottom: 20px;
    color: #2f68aa;
}


.login-form {
    display: flex;
    flex-direction: column;
}


.login-label {
    margin-bottom: 5px;
    text-align: left;
}
.login-input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}


.login-button {
    padding: 10px;
    border: none;
    background-color: #2f68aa;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #1f4d7a;
}


.login-footer {
    margin-top: 15px;
    font-size: 14px;
}

.login-link {
    color: #2f68aa;
    text-decoration: none;
}