.borrow-page {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
  }
   
  .borrow-page {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  
  /* الكارد */
  .borrow-card {
    background: white;
    width: 600px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  }
  
   
  .borrow-card h2 {
    margin-bottom: 20px;
  }
  
  /* Inputs */
  .borrow-card input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  .input-box {
      display: flex;
      align-items: center;
      
      border-radius: 8px;
      padding: 0 10px;
      background: #fff;
  }
  
  .input-box input {
    padding: 12px ; /* مساحة للأيقونة */
    border: none;
    font-size: 14px;
    outline: none;
    flex: 1;
  }
  
  .input-box input:focus {
    border-color: #4e73df;
  }
  
  
  /* الأيقونة */
  .icon {
    
     color: #666;
     margin-right: 8px;
  }
  
  .borrow-card input[type="text"]:focus {
    border-color: #4e73df;
    outline: none;
  }
  
  
  .checkbox {
    margin-bottom: 20px;
  }
  
  /* الأزرار */
  .buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .confirm {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #4e73df, #224abe);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .confirm:hover {
    opacity: 0.9;
  }
  
  .return {
    width: 120px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #224abe;
    color: white;
    cursor: pointer;
  }
  
  /* الجدول */
  .table-container {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .table-container caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .table-container th {
    text-align: left;
    padding: 15px;
    font-weight: 600;
    color: #555;
    background: #f1f3f9;
    bottom :2px solid #ececec;
    font-size: 14px;
  }
  
  .table-container td {
    padding: 12px 15px;
    color: #333;
    border-top: 1px solid #eee;
    font-size: 14px;
  }